/* RESET  */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
  color: rgb(255, 255, 255);
}

/* Header */
header {
  display: flex;
  height: 70px;
  width: 100%;
  background-color: rgb(255, 98, 0);
  justify-content: space-between;
  align-items: center;
  z-index: 1;
  position: sticky;
  top: 0;
}

.header-container {
  max-width: 100%;
  margin: 0 auto;
}

.nav-categories {
  display: flex;
  gap: 15px;
  list-style: none;
  font-weight: bold;
}

.logo {
  width: 120px;
}

/* COMMON */
/* Layout */

.container {
  width: 80%;
  max-width: 1300px;
  margin: 0 auto;
}

.shop-card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 20px;
}

.card-30 {
  width: 30%;
  position: relative;
  /* debug */
  border: 1px solid black;
}

/* Utilities */
.pad-top20 {
  padding: 20px 0;
}
